version: '3.8'

services:
  # 1. Database PostgreSQL
  aura-db:
    image: postgres:16
    container_name: aura_db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=aura_password
      - POSTGRES_DB=AuraDb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # 2. AI Service (Python)
  aura-ai:
    build:
      context: ./src/ai-core    # <--- Docker sẽ tìm file requirements.txt TẠI ĐÂY
      dockerfile: Dockerfile
    container_name: aura_ai
    ports:
      - "5001:5001"

  # 3. Backend API (.NET)
  aura-backend:
    build:
      context: ./src/backend      # <--- QUAN TRỌNG: Trỏ vào thư mục cha 'backend'
      dockerfile: Aura.API/Dockerfile  # <--- Chỉ định đường dẫn tới Dockerfile
    container_name: aura_backend
    ports:
      - "5038:8080"
    environment:
      - ConnectionStrings__DefaultConnection=Host=aura-db;Port=5432;Database=AuraDb;Username=postgres;Password=aura_password
      - AISettings__BaseUrl=http://aura-ai:5001
      # Thêm các cấu hình khác nếu cần
    depends_on:
      - aura-db
      - aura-ai
  # 4. Frontend (React)
  aura-frontend:
    build:
      context: ./src/frontend    # Giữ nguyên cái này
      dockerfile: Dockerfile
    container_name: aura_frontend
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=http://localhost:5038/api
      
    depends_on:
      - aura-backend

volumes:
  postgres_data: