global:
  scrape_interval: 5s

scrape_configs:
  - job_name: 'ai_core_service'
    static_configs:
      - targets: ['ai-core-service:8000']
  - job_name: 'dotnet_services'
    static_configs:
      - targets: ['identity-service:8080', 'medical-record-service:8080']