# Bỏ qua các thư mục biên dịch của .NET
**/bin/
**/obj/

# Bỏ qua thư mục git
.git/
.gitignore
.vs/
.vscode/

# Bỏ qua node_modules (nếu vô tình có trong backend)
**/node_modules/

# Bỏ qua các file ảnh/video nặng không cần thiết cho code backend
**/*.mp4
**/*.mov

# Bỏ qua folder frontend (Identity Service không cần frontend)
frontend/
HTGIACMAC/frontend/